<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product Form</title>
</head>
<body>
<form action="/product/save" method="post">
    <input name="name" th:value="${p.name}" placeholder="Tên sản phẩm">
    <input name="price" th:value="${p.price}" placeholder="Giá">
    <button>Save</button>
</form>

<ul>
    <li th:text="${p.name}">?1name</li>
    <li th:text="${p.price}">?1price</li>
</ul>

<ul>
    <li th:text="${p.name}">?2name</li>
    <li th:text="${p.price}">?2price</li>
</ul>

<ul>
    <th:block th:each="item: ${items}">
        <li th:text="${item.name}">item.name</li>
        <li th:text="${item.price}">item.price</li>
    </th:block>
</ul>
</body>
</html>
